html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    color: #505962;
}

section {
    height: 100vh
}

/* Navigation */

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    /* background: rgba(100,94,157,0.9)!important; */
    background: rgba(85,69,98,0.9)!important;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #EF946C;
    padding-top: .8rem;
}

.navbar .navbar-collapse {
    text-align: center;
}

/* Landing page */

.landing-section-bg{
    background:  linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)), url('../images/image06.jpeg') center no-repeat;
    background-size: cover;
    height: 100vh;
}

/* Home section social media link */
.social_media_btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}

.social_media_btn i{
    line-height: 60px;
    font-size: 26px;
    transition: 0.2s linear;
}

.social_media_btn:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
}

.social_media_btn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.social_media_btn:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        top: -110%;
        left: 90%;
    }50%{
        top: 10%;
        left: -30%;
    }100%{
        top: -10%;
        left: -10%;
    }
}

/* About me */
hr {
    width: 7rem;
    border-top: 2px solid indigo;
}

/* Projects */


/* Contact me form */

.contactme {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.8)), url('../images/image05.jpg') center no-repeat;
    background-size: cover;
}

form {
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

.form-control {
    width: 600px;
    background: transparent !important;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color:black;
    margin-bottom: 16px;
    font-size: 24px;
}

input {
    height: 45px;
}

input .active {
    outline: none;
    border: none;
}

form .submit {
    background-color: #554562;
    color: #FFEFFA;
    border-color: transparent;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20PX;
}

form .submit:hover {
    background-color: #645E9D;
}

/* footer */

footer a {
    color: White;
    padding: 5px;
    margin-top: 15px;
}

footer a:hover {
    color: #2D4FEE;
}